[2021-04-29 15:06] serkangunes opened #2 "Question: Can I use this with WebPack?"

[2021-05-01 09:31] stalkerg opened #3 "Duplicate next input field"
If I have next code:
[code]

it removes `:` and duplicates this input. Looks like the parser is broken.
![изображение](https://user-images.githubusercontent.com/1853716/116778235-a2a84b80-aaab-11eb-985c-8b997af7f455.png)

[2021-05-01 10:10] stalkerg commented on #3
It's was Svelte 3.38 issue.

[2021-05-01 10:10] #3 closed

[2021-05-02 12:22] cibernox commented on #3
Glad to hear! 😀

[2021-05-05 15:33] stalkerg opened #4 "Can't properly import for new ES6 modules config file"
Currently, svelte.config.js is an ES6 module and svelte-intl-precompile should support it.
In the current situation, I should write:
[code]

[2021-05-05 16:13] cibernox commented on #4
Interesting, I have `svelte.config.cjs` so just use `const precompileIntl = require("svelte-intl-precompile/sveltekit-plugin");`

I might have to generate both systems

[2021-05-07 09:42] cupcakearmy opened #5 "JSON support?"
Hey, saw your talk at Svelte Summit and i love it. Makes so much sense!
A question about usage: i tried using json instead of js files but it don't work, probably because bable only applies to js. Now my question is: is there a way to make it work with json files? most platforms like lokalise do not support js files, also most of the i18n extensions also require json files. Unfortunately, using js

[2021-05-07 14:14] cibernox commented on #5
I'd love to support JSON files. It was my initial idea but I couldn't find a way with svelte/vite of making the plugin run after `vite:json` but before svelte-kit preprocesses all import statements.
It's almost surely something workable, but I don't know enough about the build pipeline.

[2021-05-07 14:23] cupcakearmy commented on #5
Thanks! Yeah i have 0 expertise in bundler pipelines. Feel free to close it, i'll probably look to generate the files then :)

[2021-05-07 14:48] cibernox commented on #5
As soon as I have time I'm going to give it another go. I'm sure there must be a way.

[2021-05-07 14:51] cupcakearmy commented on #5
That would be awesome of course :)

[2021-05-07 21:47] cibernox commented on #2
This specific package is designed to be used with sveltekit. The underlying `precompile-intl-runtime` and `babel-plugin-precompile-intl` are agnostic to any build pipeline and even library agnostic: you could use it with react or vue (although the API uses observable stores which are very convenient to use in svelte but not so much in react).

[2021-05-07 21:47] #2 closed

[2021-05-07 22:19] #4 closed

[2021-05-08 07:48] Valexr commented on #5
I'm use json for dictionaries now on esbuild bundler 🤷🏻‍♂️

[code]

[2021-05-08 21:17] cibernox commented on #5
@Valexr could you explain more? I didn't even know that svelte could do that.

[2021-05-09 05:30] Valexr commented on #5
Sure @cibernox 🤓
It’s not svelte, it’s esbuild can imports .json files to bundle by default🤷🏻‍♂️ But I’m not sure about i18n logic operators… don’t use it.

Simple starter for testing https://github.com/AlexxNB/svelte-esbuild-starter just try it. & update esbuild to 0.11.* minor please.

[2021-05-14 07:55] fabianmossberg opened #6 "Different language codes for same language"
There are multiple ways to write a language code.

I used this library and logged what languages my visitors had.

[code]

When registering the languages:
[code]

It would be nice to have that one match `en*`, or at least to add an array `addMessages(['en', 'en-GB', 'en-US', 'en-AU', 'en-BZ', 'en-CA', 'en-IE', 'en-JM', 'en-NZ', 'en-ZA', 'en-TT', en);`

I solved it by writing my own `getLocaleFromN

[2021-05-15 23:03] cibernox commented on #6
Unless I misunderstood what you're saying, I'd say that the library already behaves like you want.

When you set the locale of the library with any method (e.g. passing `initialLocale: getLocaleFromNavigator(),` to `init`), that locale string (e.g. `en-AU`) the library will try to use the dictionary of locales named `"en-AU"`, but if that is not defined it will default to just `"en"`.

Take the fo

[2021-06-06 19:30] MarcGodard opened #7 "Can't figure out how to use translation variables"
I tried:

[code]

The default works, but using the example, the count isn't working. What am I missing?

[2021-06-06 19:44] cibernox commented on #7
I copied the API from `svelte-i18n`. Values must be passed inside a `values` key.
In your example it should be `{$t("foot", { default: 'hello', values: { count: 1 } })}`. I personally don't like that too much, I find it a bit verbose, but since svelte-i18n is the most popular i18n library for svelte by a lot I thought it was wise to just use the exact same API to make transitioning to this library

[2021-06-06 19:45] cibernox commented on #7
You can find the docs for svelte-i18n here about this topic in https://github.com/kaisermann/svelte-i18n/blob/main/docs/Formatting.md#format-_-or-t

[2021-06-06 20:00] MarcGodard commented on #7
Has this been tested with the latest kit version? Its not working for me and its the ONLY thing I added so far.

[2021-06-06 22:05] cibernox commented on #7
Yes, it does work. I just created a test app quickly to prove it: https://github.com/cibernox/quick-i18n-throwaway-demo

[2021-06-07 01:33] MarcGodard commented on #7
@cibernox Thanks, must be missing something.

[2021-06-07 13:08] cibernox commented on #7
@MarcGodard if you find what you missed let me know, it's probably a signal that I should improve the readme.

[2021-06-08 17:23] hmaesta opened #8 "How to use with Rollup?"
Hello Miguel,
Thank you for your effort to improve i18n on Svelte.

I am currently using `svelte-i18n` and a good part of our bundle is the `icu-messageformat-parser`. I tried to install `svelte-intl-precompile`, but failed.

My `rollup.config.js`:
[code]

I am getting:

Is it possible to use with Rollup?

[2021-06-08 19:28] #8 closed

[2021-06-08 19:56] hmaesta commented on #8
It worked and I just saved 100 kb. 🙌

Thanks for the patience, Miguel. Have a nice week.

[2021-06-08 21:09] cibernox commented on #8
wow, 100k of savings is a lot. How many translations does your app have?

[2021-06-08 21:12] hmaesta commented on #8
Not so much, to be honest. Around 100 lines – but a lot with singular/plural variations.
The biggest problem was:

[2021-06-08 21:26] cibernox commented on #8
Cool, let me know if you find anything that doesn't work. I for instance I'm aware that ordinals (1st, 2nd, 3rd) might not work yet, but afaik everything else should be working.

[2021-06-12 09:50] yadoga opened #9 "some @formatjs warnings appeared"
Just leaving these messages here that popped up after `npm update`:

[2021-06-12 10:33] Valexr commented on #9
+ same warning

[2021-06-18 03:37] jacobbowdoin opened #10 "Sveltekit + Windows = ERR_REQUIRE_ESM"
Using this library with SvelteKit 1.0.0-next.115 on Windows gives the following error:

[code]

You can see the error on a Windows machine and using your repo: https://github.com/cibernox/quick-i18n-throwaway-demo - but oddly the error isn't thrown on a remote Gitpod environment which is Linux I'm assuming - and you must be devving on a Mac is why you never came across this error? I'm so confused

[2021-06-18 13:53] yaeszlo opened #11 "Selecting the language manually"
Hello, thanks for making this library!

Is it possible to implement this with manual language selection?
Simple dropdown menu on the navbar with few possible languages to select, usual stuff

Thanks

[2021-06-18 14:57] cibernox commented on #11
Sure. It would be done just the exact same way one would in `svelte-i18n`, as the API is nearly 100% compatible.

Check this implementation with buttons: https://github.com/cibernox/sveltekit-bug-with-plugin/blob/main/src/routes/index.svelte#L32-L35
Doing the dropdown is up to you, but you just have to set `$locale` to the new locale and everything will update.

[2021-06-18 14:57] #11 closed

[2021-06-18 20:14] MarcGodard commented on #7
There was a svelte error that was causing all this. Once I fixed it, it fixed this.

[2021-06-18 20:18] cibernox commented on #7
Great to hear, closing this!

[2021-06-18 20:18] #7 closed

[2021-06-18 20:19] cibernox commented on #6
I'm closing this, let me know if you still struggle with locale variants

[2021-06-18 20:19] #6 closed

[2021-06-18 20:30] cibernox commented on #10
I do indeed develop in a mac and I didn't notice this. I think that this bug is not related to this package in particular, as there's nothing special about. It might be a bug in vite.

Just to give some random ideas, are you on a recent enough version of node.js? That's the only other thing that comes to mind.

[2021-06-18 23:10] MarcGodard opened #12 "Getting error with format"
https://github.com/kaisermann/svelte-i18n/blob/main/docs/Formatting.md#formats

This currency style format (others seem to work) is causing this error:

[code]

[2021-06-18 23:12] MarcGodard commented on #12
Oh and with format, it just doesn't work.

[2021-06-18 23:20] MarcGodard commented on #12
Needed to add the currency. Closing.

[2021-06-18 23:20] #12 closed

[2021-06-18 23:31] cibernox commented on #12
Yup, just like svelte-i18n 🙂

[2021-06-21 08:58] yaeszlo commented on #10
I have the same problem. Windows10 and NodeJS version 16.2.0

[2021-06-21 13:51] jwrunner commented on #10
I'm on the latest LTS version, 14.17.1

[2021-06-21 21:43] TheRealThor commented on #10
I have the exact same error using macOS Catalina, node 16.3.0. It doesn't look like a OS related error.

[2021-06-21 23:23] cibernox commented on #10
@TheRealThor can you reproduce it in https://github.com/cibernox/quick-i18n-throwaway-demo ? On what version of this library and of sveltekit are you?

[2021-06-22 07:06] TheRealThor commented on #10
I use SvelteKit  1.0.0-next.115 and 0.3.2 of the library.

I followed the installation guide here on GitHub. In the build process it also throws:

`> Cannot find package '/Users/thor/Dev/www/AF/node_modules/precompile-intl-runtime/' imported from /Users/thor/Dev/www/AF/node_modules/svelte-intl-precompile/index.js
Error [ERR_MODULE_NOT_FOUND]: Cannot find package '/Users/thor/Dev/www/AF/node_module

[2021-06-22 12:46] TheRealThor commented on #10
I think this is a SvelteKit bug.

After doing an "rm -rf node_modules", deleting the package-lock.json and reinstalled all modules, the svelte-intl-precompile was indeed installed. However the error changed to:

`

Error [ERR_MODULE_NOT_FOUND]: Cannot find package '/Users/thor/Dev/www/AF/node_modules/precompile-intl-runtime/' imported from /Users/thor/Dev/www/AF/.svelte-kit/output/server/app.js

[2021-06-22 22:24] yadoga opened #13 "pluralized not working"
following the example
[code]
using the standard way to call
[code]

…outputs the translation string logic itself:
[code]

_running latest SvelteKit version_

[2021-06-22 22:35] cibernox commented on #13
Can you verify your setup looks somewhat similar to the one in this demo app: https://github.com/cibernox/quick-i18n-throwaway-demo/

Particularly pay attention to https://github.com/cibernox/quick-i18n-throwaway-demo/blob/main/svelte.config.js and https://github.com/cibernox/quick-i18n-throwaway-demo/blob/main/src/routes/index.svelte

[2021-06-23 06:17] yadoga commented on #13
Thanks, paid close attention to those. Regular translations do work fine. I guess my issue is also a duplicate of #7 ...

That being said, the problem persists for now on my end.

[2021-06-23 06:31] yadoga commented on #13
Just cloned your barebones repo and it is working for me. Now trying to find a particular difference that's holding my setup up...

[2021-06-23 08:29] TheRealThor commented on #10
Ok, its works now. The reason the library was not found was in package.json the entry

` "types": "dist/index.d.ts"`

did not exist. I changed it to
`  "types": "dist/modules/index.d.ts",`

Now it was recognised and works.

[2021-06-23 11:29] yadoga commented on #13
Cleaned up package.json, everything working now! Was not yet able to pinpoint the root cause. I'm suspected some typescript packages but cannot confirm that just yet. Closing this, thanks again!

[2021-06-23 11:29] #13 closed

[2021-06-23 13:00] cibernox commented on #13
Glad you fixed it!

[2021-06-23 13:58] jwrunner commented on #10
You're talking about this line? https://www.runpkg.com/?precompile-intl-runtime@0.4.3/package.json#17

[2021-06-23 14:49] cibernox commented on #10
Does this seem like it would fix your issue?

[2021-06-23 14:53] TheRealThor commented on #10
Hello @cibernox , yes I talked about this line because the referenced file did not exists. I guess that was the reason the TS compiler did not recognise the library and when I changed it, the compiler recognised it. Hence, it seems this correct to change this line.

[2021-06-23 14:56] cibernox commented on #10
Published a new version of this package right now. Please y'all, remove your package-lock.json and try reinstalling all dependencies to check if it works now.

[2021-06-24 21:51] vish01 commented on #10
@cibernox I just tried removing my package-lock.json, node_modules folder and did npm install again. Still facing the same issue mentioned by others above. Screenshot attached.
![image](https://user-images.githubusercontent.com/25630516/123336863-71308700-d514-11eb-867c-637fe1ccae2c.png)
Versions:
SvelteKit: @next
node: 14.17.1
npm: 7.13.0

[2021-06-24 22:14] cibernox commented on #10
I'll have to get a virtual machine because I have no clue why it would work on mac/linux but not on windows.

[2021-06-25 13:04] vish01 commented on #10
@cibernox I was able to find a workaround to this, if I change index.js files inside the packages to index.cjs, it works. So this could be something related to Common JS module imports.

[2021-06-25 13:37] cibernox commented on #10
@vish01 what throws me off is that it only fails in windows. That's odd and makes me think it's nothing in particular with this package but with node.js or vite itself

[2021-06-25 16:09] vish01 commented on #10
@cibernox If it was Vite or node.js, this wouldn't be an issue with only Windows, I guess.
Also, I was trying to export those modules in a different way when I saw this error:
![image](https://user-images.githubusercontent.com/25630516/123453946-03d13480-d5ae-11eb-94c0-82b56592d512.png)
It says the module 'precompile-intl-runtime/dist/modules/index.js' is a CommonJS module. I think you'll have to

[2021-06-25 18:52] ydoc118 commented on #10
@cibernox I've gotten it to work by using the full path to import
`import { init, getLocaleFromNavigator, addMessages } from '../../node_modules/svelte-intl-precompile';`

whereas
`import { init, getLocaleFromNavigator, addMessages } from 'svelte-intl-precompile';`
throws the same error @vish01 is getting

[2021-06-28 18:56] vish01 commented on #10
@cibernox Any updates on this? Were you able to get a virtual machine to test this out?

[2021-07-02 04:45] Ebeldev opened #14 "Few errors"
I have followed the steps on the instruction how to set up but I do get a few errors.

1. In the hooks.js file in your example, the variable acceptedLocale is never exported. It seems to me that's a typo mistake. Is that right?
2. I have my locales folder in src. What changes shoud I make in the svelte.config in order to work ?
3. in the _layout.svelte, if we are doing ssr, should we put the code

[2021-07-02 19:17] ydoc118 commented on #14
I too am getting the same warnings when start my server `The message "text" was not found in "", "en".`, but my application loads with all of my messages correctly.

@Ebeldev  I think in the hooks it is a typo, just rename the return to `{ acceptedLocale }`

[2021-07-02 20:07] cibernox commented on #14
It is a typo indeed. Fixing it.

[2021-07-02 20:08] cibernox commented on #14
Fixed.  Thanks for reporting it.

[2021-07-02 20:08] #14 closed

[2021-07-02 20:13] cibernox commented on #14
I missed the other points.
2. You should put `precompileIntl('src/locales')` in you svelte.config.js file. The argument passed in is the path to the folder containing the locales.
3. The fact that you are doing SSR shouldn't make you use a `context="module"`. I might be missing why you think that.
4. I believe this error is because the misconfiguration in point 2.

[2021-07-04 03:29] Ebeldev commented on #14
@cibernox Thank you for your response.

I did adjust the svelte.config.js,

`import preprocess from 'svelte-preprocess';
import precompileIntl from "svelte-intl-precompile/sveltekit-plugin.js";
import typescript from '@rollup/plugin-typescript';

const production = !process.env.ROLLUP_WATCH
/** @type {import('@sveltejs/kit').Config} */
const config = {
	// Consult https://github.com/sveltejs/svelt

[2021-07-05 02:30] Ebeldev commented on #14
My mistake. I was using _layout.svelte and not __layout.svelte.

Double underline that was my mistake.

[2021-07-05 07:50] cibernox commented on #14
Glad you figured it out 😃

[2021-07-29 10:33] tobiaskohlbau commented on #10
I would like to add some information I gathered. I'm not sure if my issue is directly related to this, but the error is quiet similar.

I've a setup with rollup and included _svelte-intl-precompile_ in order to compile the translations beforehand. The issue on my specific use case was that during SSR _svelte-intl-precompile_ gets loaded in esm mode, initialized by `"type": "module"` in the project

[2021-07-31 17:00] wgrabias opened #15 "Intl formatters do not get updated on language change"
It seems that memoizing of i.e getTimeFormatter isn't working properly:

precompiled translations use __time that only passes the format:
[code]

Formatter is later picked based on that options:
[code]

No matter which language is selected the locale prop passed to the function is `undefined`, so after switching the language getTImeFormatter returns the one already memoized for the first language:

[2021-08-05 12:37] yaeszlo commented on #10
I've tried every possible solution posted here but sadly nothing worked for me. I also did include your fork @tobiaskohlbau in my dependencies but sadly this also leads to
`

Error [ERR_REQUIRE_ESM]: Must use import to load ES Module: G:\xxx\xxx-sveltekit\node_modules\svelte-intl-precompile\index.js
require() of ES modules is not supported.
require() of G:\xxx\xxx-sveltekit\node_modules\svelte-int

[2021-08-05 13:41] tobiaskohlbau commented on #10
@yaeszlo are you able to share the project or an minimal reproducer?

[2021-08-06 08:08] yaeszlo commented on #10
sadly it's not possible at the moment, for now I can just show how I use that

package.json fragment
[code]

svelte.config.js
[code]

Component.svelte
[code]

[2021-08-15 05:29] helloalbin commented on #10
Running the sample app in Windows 10 is giving me the following error. Seems to be related to this issue.

`Error [ERR_REQUIRE_ESM]: require() of ES Module C:\temp\sample-app-svelte-intl-precompile\node_modules\svelte-intl-precompile\index.js from C:\temp\sample-app-svelte-intl-precompile\node_modules\vite\dist\node\chunks\dep-cc49d7be.js not supported.
Instead change the require of index.js in C:

[2021-09-05 00:41] v1ack commented on #10
Faced the same issue
`Cannot find package 'C:\Users\Admin\project\node_modules\precompile-intl-runtime\' imported from C:\Users\Admin\project\node_modules\svelte-intl-precompile\index.js`

My decision was to change imports from
```import { addMessages, init, t } from "svelte-intl-precompile"```
to
```import { addMessages, init, t } from "precompile-intl-runtime"```

SvelteKit 1.0.0-next.162
Vite 2

[2021-09-13 14:51] lorenzosignoretti commented on #5
+1 I'd love to see the support for `.json` files. It would make it easier to use the library in conjunction with tools such as [Lokalise](https://www.lokalise.com).

[2021-09-13 15:00] cibernox commented on #5
Indeed, it's probably the thing I miss the most myself when using it. My sveltekit (or Vite really) skills might not be sharp enough to do that without help, as it's a bit tricky. You want to import a js file that doesn't exist and have it resolved to a generated-on-the-fly JS file from a JSON source.

I'll check if someone with more experience can help with that.

[2021-09-20 15:05] uSide commented on #5
@cibernox tried to implement this in #16

[2021-09-20 15:06] bitdom8 opened #17 "Got error after build"
Have tried also this : https://github.com/cibernox/sample-app-svelte-intl-precompile

    Cannot find package 'C:\Users\Administrator\Downloads\sample-app-svelte-intl-precompile-main\node_modules\.pnpm\svelte-intl-precompile@0.3.3_svelte@3.42.6\node_modules\precompile-intl-runtime\' imported from C:\Users\Administrator\Downloads\sample-app-svelte-intl-precompile-main\node_modules\.pnpm\svelte-intl

[2021-09-23 13:14] bitdom8 commented on #17
The error persists with the pnpm run build command too

[code]

[2021-09-25 13:13] cibernox commented on #5
Released this feature in 0.4.0. The version bump wasn't really necessary as this is backwards compatible but it's there just to signal a significant feature.

[2021-09-25 13:14] cibernox commented on #5
I now recommend people define it's translations in json files, there is no reason to use javascript/typescript anymore.

[2021-09-25 13:14] #5 closed

[2021-09-28 14:42] MarcGodard opened #20 "Newest version causing errors"
"svelte-intl-precompile": "^0.3.4", Is causing a bunch of new errors. All other libs updated

[2021-09-28 14:44] MarcGodard commented on #20
I mean version 0.4

[2021-09-28 14:45] MarcGodard commented on #20
[code]

[2021-09-28 15:30] cibernox commented on #20
What node version are you running. If you are in 14, try 16. I have no proof but it looks to me like some code being transpiled to something node 14 doesn't understand.

[2021-09-29 13:59] MarcGodard commented on #20
I am still using node 12.... lol guess i should try upgrading that.

[2021-09-29 15:05] cibernox commented on #20
I mean, it's just a theory after the error. I don't think anything has hanged in v0.4 to cause that except perhaps updating some dependencies, which may in turn be using ES2021 features. With svelte SSR I had problems before with untranspiled code not working except in the very latest node.

[2021-09-29 15:18] MarcGodard commented on #20
Well version 0.3.4 is when the error started when I looked through the version. 0.3.3 worked well.

[2021-09-30 14:06] taffit commented on #20
I had a similar error, in my case complaining about vite/svelte-intl-precompile, but also async-error
[code]
Upgrading node-version didn't help. After a lot of tests it turned out, that the installation of pnpm was somehow corrupt. After uninstalling it and reinstalling it via curl-sh-script, then creating `node_modules` from scratch, the error was gone.

Your mileage may vary, of course ...

[2021-09-30 14:27] taffit commented on #20
Although just renewing `node_modules` in my case didn't suffice. I did it a couple of times beforehand, also playing around with downgrading certain modules, from `@svelte`, `@svelte/kit` to `svelte-intl-precompile` (fantastic library, btw ;-) ), `vite-plugin-host` etc. Just when I tried it using plain `npm install` and `npm run dev`, it worked, leading me on the right path.

[2021-09-30 15:46] MarcGodard commented on #20
Node version worked for me.

[2021-09-30 15:46] #20 closed

[2021-10-11 07:18] kilianso opened #22 "svelte-kit issues with SSR"
Hey there! I running into some issues using Sveltekit and SSR.

### SSR issues

1. Whenever I'm starting the server with `npm run dev`, an error occurs in the terminal:
[code]
This even persists if I disable SSR in the svelte.config.js file.
If SSR is disabled, the app seems to work even with that error.

2. Having SSR enabled using `addMessages` in my `__layout.svelte` file, devserver and build f

[2021-10-11 10:50] kilianso commented on #22
Thanks for that quick response. Can confirm that issues 1 & 2 are gone when using Node 16. Would be cool if you could share your opinion on 3,4 and 5.

[2021-10-11 12:07] tillbaks opened #23 "plugin does not find locales on windows"
Because paths are separated by backslashes on windows.
in `transform(code, id)` the id contains the path with forwardslashes (instead of backslashes)
which means `id.includes(resolvedPath)` will never match anything on windows unless I do `const resolvedPath = path.resolve(localesRoot).replace(/\\/g,"/")`.
Not sure what would be the best way to solve this. Seems strange that there are forwardslash

[2021-10-11 19:55] cibernox commented on #22
I was AFK all day.

3. Thanks, I fixed that typo. Regarding the store, I might need more information about what you want to do. I say that you should load the library and set the locale and translations in a context module because it's what runs first, but nothing prevents you from defining a non-module script. Did you check and run the sample app in https://github.com/cibernox/sample-app-svelte-i

[2021-10-12 16:24] skrenes commented on #10
The top of all my svelte files now show this error from eslint on the demo without any modifications:
![image](https://user-images.githubusercontent.com/5075909/136993467-2a116ddb-36e0-4df7-a97d-3969be1215e8.png)

The exact error is
[code]

[2021-10-15 21:31] #22 closed, assigned to nobody

[2021-10-25 01:32] fredrikvin opened #24 "ES modules not found and precompiled"
I can't get precompile working with ES modules without modifying svelteIntlPrecompile.load.
Unless I'm missing something svelteIntlPrecompile.load seems to only support JSON but the README says otherwise.

[2021-10-25 12:18] #24 closed, assigned to nobody

[2021-11-18 12:13] Civile opened #26 "Parameters are not considered"
I'm having a problem passing parameters. Despite having followed the guide, the parameters of the translation are not taken into consideration.
This is the svelte code
`$t( 'PRIVACY_POLICY', { values: { link: 'abc'  } } )`
And this is the translation
`"PRIVACY_POLICY": "Privacy <a href=\"{ link }\">policy</a>"`

[2021-11-18 14:07] cibernox commented on #26
Can you provide a reproduction? I have tons of translations like those and I know for a fact that they do work. I copied that one on an app of mine to check. Also note that if your translations contain HTML, svelte is going to escape it unless you use the `@html` keyword in front. E.g. `{@html $t( 'PRIVACY_POLICY', { values: { link: 'abc' } } )}`

[2021-11-18 18:04] Civile commented on #26
I tried again many times, unable to get it to work. So I went to take a look at the [precompile-intl-runtime](https://github.com/cibernox/precompile-intl-runtime) code and noticed that the formatMessage function interprets the "message" variable as being of type "string" and doesn't seem to perform variable substitution, as you can see on line 19. It depends on it?

Below I have linked the conditi

[2021-11-18 18:09] cibernox commented on #26
That almost certainly means you haven't hooked up the compiler part of the library properly and because of that strings haven't been transformed into functions. Is this a sveltekit project? Take a look at this file on a sample app for reference: https://github.com/cibernox/sample-app-svelte-intl-precompile/blob/main/svelte.config.js

[2021-11-18 19:30] Civile commented on #26
Yes, it's a svelteKit project. Actually I just took a look at my svelte.config.js and this is what I have at the moment. It's similar to what you showed me.

<img width="587" alt="Screenshot 2021-11-18 at 23 29 43" src="https://user-images.githubusercontent.com/5031856/142483909-cd8e7eee-c647-4b71-8783-58bf74efcec0.png">

[2021-11-18 19:46] cibernox commented on #26
I suspect the alias `'$locales': path.resolve('./src/locales')` is the one messing thing. Also per your configuration svelte-intl-precompile expects your locales to be in `/locales`, not `/src/locales`

[2021-11-18 19:47] cibernox commented on #26
If that's the case you've proven that I should add some console warning if the specified locales folder doesn't exist instead of silently doing nothing.

[2021-11-19 03:42] xellDart opened #28 "[vite] Internal server error: unknown: INVALID_ARGUMENT_TYPE"
Hi, thanks for your hard work, I have a problem with your library, I can't get this work :(

<a href="https://ibb.co/YDGh4Km"><img src="https://i.ibb.co/vs8kCrp/Captura-de-Pantalla-2021-11-18-a-la-s-21-40-03.png" alt="Captura-de-Pantalla-2021-11-18-a-la-s-21-40-03" border="0"></a>

An in chrome I get:

<a href="https://ibb.co/SsBQKZz"><img src="https://i.ibb.co/C1QJnSf/Captura-de-Pantalla-2021-11-

[2021-11-19 07:32] Civile commented on #26
Yes, a console warning would be ideal.

Ok, I think the problem was solved with the instructions you gave me, but in part. Because now I'm getting the error already reported here. I am on a Macbook.
Issue: [https://github.com/cibernox/svelte-intl-precompile/issues/10](https://github.com/cibernox/svelte-intl-precompile/issues/10)

[2021-11-19 07:33] Civile commented on #10
I'm experiencing the same on Mac OS Catalina, with Node v14.15.0 and SvelteKit

[2021-11-19 14:51] skrenes commented on #10
I not longer have this issue. I think it was due to using old extensions provided Code Server. I think switching to the VSX Registry or using the Microsoft Store and then updating all of your extensions will resolve this for you.

[2021-11-19 15:52] cibernox commented on #10
I also tried to reproduce it right now but I couldn't. I used node 16 on windows 10 virtualized in parallels, with this app: https://github.com/cibernox/svelte-sample-app-for-windows-testing

On that app I'm using `precompile-intl-runtime` v0.4.11, which is rather new, but the only changes from 0.4.10 is that I updated typescript to the latest version.

If anyone can share a repo where the issue c

[2021-11-19 16:00] cibernox commented on #26
I checked and under normal circumstances the app already complaints if there aren't any translation in the specified folder as soon as you try to import them.

Your scenario was rather unusual because the fact that you had already defined an alias for `src/locales` (I've just learned that user-defined aliases take precedence, although makes sense) means you never actually imported the locales so t

[2021-11-19 16:00] #26 closed

[2021-11-19 16:38] cibernox commented on #28
Maybe there is something wrong with some ICU string? Is this some project you can share? Since I suspect it's because of the translations, perhaps just sharing the translations JSON files could suffice

[2021-11-19 16:42] cibernox commented on #23
Is this still an issue? I've just successfully run this library on an app on windows, so perhaps it's not longer a problem. If there is, please provide a sample repo I can clone for reproduction.

[2021-11-19 16:42] #23 closed

[2021-11-19 16:42] cibernox commented on #17
I believe this is a duplicate of #10 where most of the conversation is happening.

[2021-11-19 16:42] #17 closed

[2021-11-19 16:43] cibernox commented on #9
Updated, this can be closed

[2021-11-19 16:43] #9 closed

[2021-11-19 17:13] cibernox commented on #15
Is this something you can provide a reproduction? I know for a fact that when changing the current locale from `en-US` to `en-GB` formatted dates go from 6:10PM to 18:10, so it seems to be working for dates.

[2021-11-19 17:13] #15 closed

[2021-11-29 14:35] mr-islam opened #29 "Support for 18n-ally VS Code extension"
Hi, thank you for your work :)

Maybe this is out of scope, but when working with anything i18n, the [i18n-Ally](https://github.com/lokalise/i18n-ally) extension makes work really fast and easy. It would be awesome to get support for this, like svelte-i18n already does

[2021-11-29 14:45] cibernox commented on #29
It would indeed. I don't know what changes are required, I should investigate that. The API is almost identical so it shouldn't be hard

[2021-11-29 15:49] mr-islam commented on #29
Oh my, thank you for your super fast response!

I was exploring to try get it working… after about an hour, the most simple thing got it working: manually selecting Svelte as the framework in the extension settings

`"i18n-ally.enabledFrameworks": [
  "svelte"
]`

So presumably, it failed to auto-detect because either:

- didn't find svelte-i18n syntax (not likely because it's pretty much the same

[2021-12-04 14:38] RickMeijer commented on #29
Just a random guy, but I can confirm adding svelte to the enabledFrameworks has my 18nally extension working as well.

[2021-12-08 15:11] cor opened #30 "Doesn't work on @sveltejs/kit versions `1.0.0-next.191` and higher"
On sveltekit version `1.0.0-next.190` it works fine, but starting from 191 it produces the following error:

[code]

with `precompile-intl-runtime` version `"0.6.2"`

[2021-12-08 16:48] cibernox commented on #30
Thanks for reporting, I haven't updated yet. I'll try to reproduce it tonight.

[2021-12-08 16:49] cibernox commented on #29
Thanks, I believe this can be closed now.

[2021-12-08 16:49] #29 closed

[2021-12-08 16:50] #28 closed

[2021-12-08 16:51] cibernox commented on #10
I believe that this is no longer an issue. I'll close it. Please reopen if anyone can provide a reproduction.

[2021-12-08 16:51] #10 closed

[2021-12-09 10:49] kbsali commented on #30
same here

[2021-12-09 14:14] cibernox commented on #30
I was able to reproduce it. It seems to be cause by some change in viteJS 2.7 handles dependencies for SSR

[2021-12-11 10:39] cor commented on #30
Alright, would it be difficult to fix?

[2021-12-14 08:05] sastan commented on #30
That was exactly my problem. Sorry. Didn't check this repo for related issues. Should be fixed with https://github.com/cibernox/precompile-intl-runtime/pull/25

[2021-12-14 09:42] cibernox commented on #30
This should be fixed now in 0.6.4. Thanks @sastan for the fix downstream! I'm not sure why Vite 2.7 doesn't handle ESM modules in transitive dependencies anymore.

[2021-12-14 09:42] #30 closed

[2021-12-14 14:32] sastan opened #31 "add github sponsors or open collective"
We would like to support this library and your (@cibernox) effort maintaining it. Could you create an open collective or github sponsors page?

[2021-12-14 15:52] cibernox commented on #31
That's very thoughtful of you, thank you very much.

I opened a github sponsors profile. It's in review, I don't know how quickly these things go.
In the past (before GH sponsors existed) I've taken contributions for other open source work via PayPal (https://ember-power-select.com/support-the-project) in case you don't want to wait for GH sponsors to get approved.

And thank **you** for your quic

[2021-12-14 16:24] sastan commented on #31
Awesome... I'll check with the _powers above_.

[2021-12-14 16:24] #31 closed

[2021-12-15 15:19] cibernox commented on #31
FWIW, GH sponsors is approved now.

[2021-12-22 10:32] tillbaks commented on #23
Yep, still a problem.

I made a small repo here: https://github.com/tillbaks/svelte-intl-precompile-vite-windows-issue

[code]
and check output in dist/assets/en....js
[code]
when expected output is:
[code]

[2021-12-23 11:01] biltongza commented on #10
I'm getting this issue on Mac now :(

[2021-12-23 21:29] cibernox commented on #23
@tillbaks I made https://github.com/tillbaks/svelte-intl-precompile-vite-windows-issue/pull/1 to your issue repo with a fix. I hope it helps

[2021-12-23 22:36] cibernox opened #33 "Add more languages to the documentation"
If someone wants to contribute to translate the documentation to more languages, I could use some help.

Having the docs translated into German, French, Portuguese, Chinese and Japanese would cover most of the world's population.

Chinese and Japanese are particularly important as english is not so much of a _lingua franca_ in asia as it is in the west.

Of course, every help is welcomed. The docu

[2021-12-27 23:40] tomoam commented on #33
Hi, please let me help it.
I'll try to translate the documentation into Japanese.

[2021-12-28 11:01] sastan commented on #33
I'll translate to german.

[2021-12-28 23:09] pptavozl opened #35 "Failed to resolve import "$locales/en.js""
Hello, I'm following first steps configuration
https://svelte-intl-precompile.com/es/docs/getting-started

but I'm getting this error from __layout.svelte

[code]

$locales path is not working..

Any other configuration to do ?

SOLVED:
Added to config.kit.vite level instead config.vite level
![image](https://user-images.githubusercontent.com/7065779/147614599-3381ffb5-80aa-4238-98bb-5268e9462b3c.

[2021-12-28 23:46] cibernox commented on #35
Glad you found it so quick!

[2021-12-28 23:46] #35 closed

[2021-12-30 16:52] eden-omb opened #36 "Currency formatting"
I'm trying to parse a number with the currency formatter [as demonstrated here](https://svelte-intl-precompile.com/en/docs/usage#formatting) but getting the following error:
[code]
My code is as follows:
[code]
When I try to just do `$number(price)` instead it works out just fine.

[2022-01-02 23:39] cibernox commented on #36
Sorry about that, the docs were wrong. `currency` is not one of the default formats, it's a custom one that can be added, but I've used in my apps for long that I forgot that's not built-in.

I'd updated the docs. Also, unless your app only ever uses one currency it's a bad idea to name your format `"currency"`, it should be more specific. A common practice is to name your format as the three lett

[2022-01-02 23:39] #36 closed

[2022-01-03 15:21] cibernox commented on #29
For completeness, I've requested this library to be officially supported out of the box: https://github.com/lokalise/i18n-ally/issues/712

Hopefully it won't take too long.

[2022-01-03 15:23] cibernox commented on #23
@tillbaks Did the changes in 0.8.0 fix your windows issue?

[2022-01-12 08:34] tillbaks commented on #23
@cibernox not sure. looks like sveltekit-plugin.cjs is missing in 0.8.0

[2022-01-20 21:06] cristovao-trevisan opened #37 "Watch not working on sveltekit using Linux"
Hi,

file watch is not working for me, using sveltekit@1.0.0-next.235 (latest) on Linux (Arch). Can be fixed with a single line:

[code]

[2022-01-25 17:27] vhscom commented on #37
I'm also running Arch and have noticed I have to restart the dev server occasionally to pick up changes to the translation files. Are you able to repoduce the same issue [with this repository](https://codeberg.org/vhs/void-app)?

[2022-02-02 09:40] tillbaks commented on #23
got it working without cjs and v0.8.0: https://github.com/tillbaks/svelte-intl-precompile-vite-windows-issue/commit/aaf32f9b1bb93c92bb3022fe6a3a287f4c636f17

[2022-02-08 11:39] dlebech commented on #37
I have the same problem on Ubuntu 20.04. Adding the above line works in my case as well.

[2022-02-11 14:08] bummzack commented on #37
Same problem occurs on Mac OS X, also resolved by above fix. Maybe some SvelteKit internals changed?

[2022-02-11 18:12] cibernox commented on #37
I'll fix this today

[2022-02-11 22:00] cibernox commented on #37
I published 0.8.1 today that should fix this issue.

[2022-02-18 15:00] OwsOwies opened #39 "Shared singleton store instance on server handling dynamic user locales on SSR"
Hello. I've noticed that this library creates a single $locale store shared in sveltekit server instance.
As per sveltekit documentation

As I understand, in `init` as per
[code]
you set current user's request locale in this single store instance.
I don't think this is desired behavior. This could probably cause racing conditions between multiple SSR requests.
Store should be created per request o

[2022-02-26 13:16] abastardi opened #40 "vite-plugin-svelte warning about svelte-intl-precompile during SvelteKit build"
When building a SvelteKit app via `npm run build`, I'm getting the following warning about `svelte-intl-precompile` in the output (note, this does not seem to be causing any problems with the package functioning properly):

[code]

[2022-03-01 09:21] cibernox commented on #39
Thanks for reporting. I have to investigate this, I was assuming that every request would have its own store instances, but perhaps I'm not entirely familiar of how sveltekit handles requests.

[2022-03-01 09:26] cibernox commented on #40
That's somewhat expected. My understanding is that the "svelte" field on the package.json must be used indicate the entry point for svelte components, but this package doesn't expose any component, only JS utilities.
I wonder if there's a way of silencing this warning when it doesn't apply.

[2022-03-01 19:00] abastardi commented on #40
That makes sense. Thanks for the response, and for your work on this package.

[2022-03-01 21:31] cibernox opened #41 "Support Fluent"
One of the main advantages of this library being a build time compiler is that we don't have to bloat the user's app with a parser/tokenizer for understanding translations. All that work happens in build time.
A nice byproduct of that, is that this library can support any number of internationalization syntaxes for as long as we can create a compiler that transforms those translations at build tim

[2022-03-02 13:56] cibernox commented on #40
I've been told that the newest version of `vite-plugin-svelte` should have that warning fixed. I believe that if you update it will be gone.

I'll close it for now.

[2022-03-02 13:56] #40 closed

[2022-03-02 20:35] ivanhofer commented on #41
Great idea! Do you plan to support also other syntaxes?
Maybe in a generic way so someone could hook into parts of `svelte-intl-precomile` where the transformation takes place.

I'm working on a lightweight library called [`typesafe-i18n`](https://github.com/ivanhofer/typesafe-i18n) that uses it's own syntax because it is parse-able with ~400 kilobyte of gzipped code.

I also want to offer preproc

[2022-03-02 20:40] cibernox commented on #41
I'm working on that precisely. The library that takes the AST of the translations and compiles them is already an independent library (https://github.com/cibernox/babel-plugin-precompile-intl). Until know it only supported one AST transform. When I'm done with this it should support two.
Once two are supported, supported 3 or 4 should be easier.

[2022-03-02 20:48] ivanhofer commented on #41
Cool 😎.
I'm looking forward for your addition of the Fluent syntax and the resulting changes to this library.

[2022-03-18 19:37] pptavozl opened #42 "Use javascript object file example"
How can i use js file instead .json ?

I'm trying use es.js but it doesn't work,

es.js (not working)
[code]

es.json (working):
[code]

[2022-03-18 19:40] pptavozl commented on #42
Solved upgrading to 0.8.0

[2022-03-18 19:40] #42 closed

[2022-03-29 13:37] gwendal5 opened #43 "Parameters not being replaced"
Hello. I'm having a problem with the `$t(key, ops)`, it doesnt replace the parameters with the attributes I give it.
Maybe I am missing something.
Here is a codesandbox that shows the problem :
https://codesandbox.io/s/falling-thunder-cdkpn1?file=/src/routes/__layout.svelte

[2022-04-01 11:56] icalvin102 commented on #43
The locales have to be imported as `import en from '$locales/en'` instead of `'../locales/en.json'` in order for the `svelteIntlPrecompile`-plugin to do it's magic.

[2022-04-02 20:46] cibernox commented on #43
@gwendal5 I edited your codesandbox: https://codesandbox.io/s/great-rubin-bjdelo?file=/src/routes/__layout.svelte

As @icalvin102 mentioned you should import from `'$locales/fr'` instead of from `'../locales/fr.json'`. Another thing that was wrong is that your configuration line (`plugins: [precompileIntl("locales")]`) specified that your locales were in `/locales` but  you had them in `/src/local

[2022-04-02 20:47] cibernox commented on #43
Hopefully this helps. I'm going to close this, please reopen if necessary.

[2022-04-02 20:47] #43 closed

[2022-04-18 11:33] robertadamsonsmith commented on #39
I was concerned about this issue as well, but I think that in practice it isn't a problem. It is probably worth describing in the documentation how best to avoid SSR race conditions.

This is how I understand it - hopefully I've not misunderstood anything.

In sveltekit, the load() that you can implement is asynchronous, which means that multiple loads may be carried out on the server at the same

[2022-04-18 11:50] robertadamsonsmith opened #44 "Changing language doesn't cause reactive updating when immutable compiler option enabled"
I have a svelte project where the user can change language without reloading the page. To do this, $locale is simply set to a new value in response to a button click. This works as expected, unless the immutable compiler option is enabled, in which case changing $locale doesn't trigger any reactive updating.

The existing $format function is defined as:

[code]

When $locale is altered, because th

[2022-04-18 12:24] cibernox commented on #39
Thanks for this deep dive, it makes sense.

I am of the general opinion that for as much as it is possible, libraries should not give users the opportunity of shooting themselves in the foot in such a sneaky way as a race condition like this one. I think we should try to fix it.
One reason I kept the store approach is because it's the one used in ember-i18n, from which I copied 95% of the public A

[2022-04-18 12:56] cibernox commented on #44
That's interesting, TBH I never turned on the immutable option on the compiler. If I'm right that works at a component level, right? I mean, you can enable that only on some component, and those components are the one that would fall out of sync when the locale changes.

Probably making `$format` return a new function for every instance of `$t` is somewhat wasteful. Two ideas come to mind to solve

[2022-04-18 16:59] robertadamsonsmith commented on #39
I like that the format function works as a store, because it means I can change the language and everything updates reactively. I want to be able to limit the scope of that reactivity though, so that changing the language in once place will only effect a specific component and its descendants.

Changes to setContext are not inherently reactive, so where you want reactivity you typically use setCon

[2022-04-18 17:09] robertadamsonsmith commented on #44
You can enable the immutable option on a per component basis, but you can also (as I do) enable it globally.

I'm not sure what the best implementation is. I would certainly avoid using a separate store. In my somewhat wasteful implementation, the anonymous function will only be recreated when the $locale of $dictionary stores are altered, which I can't imagine happens enough to be worth optimisin

[2022-04-21 07:08] OwsOwies commented on #39
Well, I wouldn't depend on it. It could be easily broken the more mature svelte becomes.

As @robertadamsonsmith said, it is better to keep them as stores because it let's you switch locale in runtime and reactively update the view.

I have not inspected implementation thoroughly but as this library is stricte svelte wouldn't it be possible to include getContext call inside implementation, just as

[2022-04-22 09:57] robertadamsonsmith commented on #39
If svelte changed the way that SSR worked so that the rendering step wasn't fully synchronous, I think it would break a lot of things. Anyway, I do think that it is best to avoid global stores for anything that requires SSR, so I wouldn't like to depend on it either.

Unfortunately, getContext is a lifecycle function, and can only be called during component initialisation.

I'm currently using a b

[2022-04-28 05:58] OwsOwies commented on #39
Well, it seems yours is the only possible solution then. For the time being at least.
I think it's ok, calling `const { _, locale } = get();` is not that big of a deal. It is also kinda verbose in a good way, it explicitly says that _ is somewhat bound to current context instead of global meaning of `import { t } from 'svelte-intl-precompile`.

I 100% agree with this.

[2022-04-29 20:09] cibernox commented on #44
@robertadamsonsmith version published just now (0.9.1) should work with the immutable compiler option enabled. Now I'm going to investigate how to best deal with SSR race conditions

[2022-04-29 20:10] #44 closed

[2022-05-03 16:02] icalvin102 opened #45 "Support number skeleton"
I'm currently migrating one of my projects from `svelte-i18n` to `svelte-intl-precompile` and got the following error.

[code]

After some digging I found out that the use of number skeletons (e.g `Account balance {balance, number, ::currency/EUR}`) is causing this error.

IMO the number skeletons are a very important part of the ICU Message Format and it would be nice if they where supported by `

[2022-05-03 16:17] cibernox commented on #45
Agreed. I must have missed that one as it's one I haven't used myself.
I'm going to check https://unicode-org.github.io/icu/userguide/format_parse/numbers/skeletons.html and see if I can get an initial implementation by the end of the week. When I do I'll ping  you so you can test if works as you expect

[2022-05-03 22:20] cibernox commented on #45
Work on the compiler is done in https://github.com/cibernox/babel-plugin-precompile-intl/pull/18

Tomorrow I'll implement the runtime part.

[2022-05-05 13:29] Reikooters opened #46 "Values not working with Routify"
Hi there, just trying out your library but I'm a bit confused as to what I've missed.

The problem I'm having is that the value placeholders aren't being populated. i.e. the text shown is the literal "Welcome back, {name}" rather than replacing {name} with the value I passed in.

I'm actually using Routify v2, not SvelteKit - does that matter? Note that svelte-i18n works fine. Testing with just an

[2022-05-08 22:32] cibernox commented on #45
I released 0.10.0-beta.0 with some initial support. Try it out and let me know if anything is not working as you expect.

[2022-05-08 22:37] cibernox commented on #46
Can you change your
[code]
to
[code]
?
Since you are using vite, the info in https://svelte-intl-precompile.com/en/docs/configuration should work for you.
In fact calling `registerAll` is what I recommend unless you have a reason not to.

[2022-05-11 14:04] cibernox commented on #45
I released 0.10.0-beta.2 that has better support. Notably it supports `scale`, which is transformed in build time to division like `number / 100`. At this point i think the feature is pretty usable. I added documentation in https://svelte-intl-precompile.com/en/docs/icu-crash-course

If you don't find any problem I might release a non-beta version this week

[2022-05-12 21:25] jhubbardsf opened #47 "Keys with dots (periods) are not found."
I'm migrating my project over from svelte-i18n to here and noticed that any key with a dot is not found. So if I had

[code]

the values are not found by this library, although they're valid JSON and work with svelte-i18n. This library would want it in this format.

[code]

But $_('title.1') only finds the second example in this library, not the first. Wouldn't be a huge issue to refactor by code

[2022-05-12 23:10] cibernox commented on #47
Keys with dots should work. In fact is the style I use and it has been working for me.
Can you share a bit more about your setup?

[2022-05-12 23:32] jhubbardsf commented on #47
Huh, that's odd, because until I made the change in precompile-intl-runtime and used it locally, my stuff was saying it couldn't find the keys. Let me try to recreate it in a fresh repository.

[2022-05-13 00:50] jhubbardsf commented on #47
So darnedest thing. I've been working on our international refactor for a while and now I can't reproduce it. I'll close this and the PR. If I end up being able to reproduce it I'll reopen!

[2022-05-13 00:50] #47 closed

[2022-05-29 19:50] venashial opened #48 "Feature request: Config option to ignore specific file names/types"
We use a git submodule for [our translations](https://github.com/modrinth/translations), so a `crowdin.yml` file ends up in the `locales` folder. It would be nice if we could ignore it.

[2022-05-29 20:08] cibernox commented on #48
good point. IMO in fact only locales named after ISO language codes should be considered. E.g. `en.yml` or `en-US.yml`, but any file not matching `/\w\w(-\w\w)?\.\w*/` should be ignored.

[2022-05-29 21:38] cibernox commented on #48
I released 0.10.1 with a change. Only files with a name that maches the ISO code of a language (with or without regional variant) are considered locales. Give it a try.

[2022-05-29 22:11] venashial commented on #48
Thanks! That works.

[2022-05-29 22:11] #48 closed

[2022-05-30 12:34] #46 closed

[2022-05-30 12:34] cibernox commented on #45
Closing since this has been released in 0.10

[2022-05-30 12:34] #45 closed

[2022-06-04 01:52] Brawaru opened #49 "languageFileRegex is not compatible with all BCP 47 language tags"
Hello! Recently we have added a few custom languages to our project, and to stay consistent, we assigned them to well-formed but invalid language tags (to avoid any collisions) — e.g. `en-LOLCAT` (this is also non-canoncial apparently, lolcat should be lowercase, but oh well). We have found that browsers do not have any troubles with such codes, falling back to `en` (which is expected, LOLCAT is a

[2022-06-04 09:14] cibernox commented on #49
Interesting, I had no idea that languages could have names other that xx-XX.
This check was initially added because of #48   so one can have files that are not languages in the locales folder.

Do you know if there’s a better regular expression or a comprehensive list of all the valid language names that I can compare against?

[2022-06-04 17:20] Brawaru commented on #49
There's a list of available locales [from CLDR](https://github.com/unicode-org/cldr-json/blob/main/cldr-json/cldr-core/availableLocales.json), but then you also can come up with different codes on your own like `en-lolcat`, which is well-formed and will be accepted by Intl, but [is invalid](https://schneegans.de/lv/?tags=en-lolcat&format=text). I however still think it might be a better idea to ju

[2022-06-04 20:55] cibernox commented on #49
Yeah, I'm not very keen on that because `Intl.Locale` takes pretty much anything.

`new Intl.Locale('gitconfig')` is deemed valid, which prevents it from being used to discriminate between locale files and other files that might exist on that folder for other reasons.

May I ask what on earth does `en-lolcat` contains?

If pretty much anything can be valid, my best guess is to, by default, make th

[2022-06-05 02:32] Brawaru commented on #49
Hm, weird, `new Intl.Locale('.gitconfig')` or `new Intl.Locale('gitconfig')` should both throw an error, but I see now, `new Intl.Locale('LICENSE')` would work... I think exclusion regex would work much better, yea.

CC @venashial for opinion: we can probably use `/^(?!.+\.json$).+$/` for https://github.com/modrinth/translations?

[2022-06-05 06:33] venashial commented on #49
Yep, that would work for us.

[2022-06-05 07:34] cibernox commented on #49
Cool, I’ll give it a go tonight

[2022-06-05 21:37] #49 closed

[2022-06-05 22:17] cibernox commented on #49
If you could try the latest master and verify that it works for both of you, I'll release a new version.

[2022-06-06 12:45] cibernox commented on #49
I published in 0.11.0-beta.2 in case that's more convenient.

[2022-06-15 15:38] kapalla opened #52 "Is it possible to tree-shake unused keys?"
I build 5 different apps from a monorepo and all keys are included in each app. Because these apps are running on embedded systems they need to be small as possible. Any idea?

[2022-06-15 16:01] cibernox commented on #52
It depends. While compilation of translations is static (happens in build time), invocation can be quite dynamic.

For instance, an app could have keys for `'inputs.placeholders.name', 'inputs.placeholders.surname', 'inputs.placeholders.address'`, and in the code might be invoking them with `$t('input.placeholders.' + field.name)`.

This usage is totally correct and reasonable and would prevent us

[2022-06-15 17:31] cibernox commented on #52
I was proposing printing a report and let developers remove unused keys instead of doing it automatically. Since this approach can have false negatives I think it's safer that way.

[2022-06-20 09:45] kapalla commented on #52
Yes, it is definitely safer. But we have thousands of keys and 7 languages. Also, right now, there are a lot of dead keys which will never be used again. But the main problem is, that App A needs a different set of keys than App B and so on. But we have only one file per language, not per language and app. Doing it automatically is the solution I was searching for. I have written now a rollup plug

[2022-07-16 21:53] steffenstolze commented on #39
Since this is still open and almost 3 months old I assume that it's not safe to use it like this with SvelteKit and Vercel?

As far as I understood this could result in race conditions where people get a different locale than they've selected?
[code]

[2022-07-23 00:22] EskelCz commented on #10
Ran into this issue on mac. Reverting to ^0.9.0 solved it.

[2022-07-23 05:44] gerukin opened #53 "Formatting issue"
Awesome library, thank you for the hard work! 🙇 As a matter of fact, I switched to it because of some issues in the pre-rendering pipeline with `svelte-i18n` (in addition to the other benefits) and it was an exceptionally smooth transition.... with one exception. 😁

Consider the following, which works:
[code]

And the following, which doesn't:
[code]

Expected 3 quasis but got 1

The only differen

[2022-07-29 15:29] alexauvray opened #54 "Localised urls"
How to get localised urls like you set on https://svelte-intl-precompile.com/en/docs/introduction ?

In order to have /en/docs and /es/docs.

[2022-08-04 07:26] thousandsofraccoons commented on #54
@alexauvray just create folder `[lang]` and put your routes inside there. Then initialize the library from URL parameter.

[code]

@cibernox I've another question related to the topic. How can I achieve the following structure:
1.  / - default language
2. /es
3. /de

Thank you

[2022-08-05 16:21] cibernox commented on #54
@thousandsofraccoons You can check how I did it in the documentation page: https://github.com/cibernox/svelte-intl-precompile-docs

**tl;dr;** Define the route as `[...lang]`, so you have a nesting level that can take zero or more arguments.

[2022-08-05 16:21] cibernox commented on #54
@thousandsofraccoons thanks for answering the question! I'm closing this now

[2022-08-05 16:21] #54 closed

[2022-08-05 16:23] cibernox commented on #53
Thanks! I think the compiler didn't account for the posibility of a "translation path" being empty. I didn't cross my mind that it was a possibility. I'll improve the build time compiler to account for that.

[2022-08-05 21:24] cibernox commented on #53
I think I've fixed it. Run `npm update babel-plugin-precompile-intl` and it should work.

[2022-08-05 21:24] #53 closed

[2022-08-05 21:24] #52 closed

[2022-08-05 21:27] cibernox commented on #39
The race condition seems possible in theory but I haven't been able to reproduce it. If this repo is affected by this, i believe the svelte-i18n should too as our approach to setting the current locale is the same, and I don't think anyone has reported race conditions.

I have the hunch that while possible in theory, the single threaded nature of javascript makes it not happen in practice.

[2022-08-23 05:04] stalkerg opened #55 "Add support a new SvelteKit routing system"
We have no load function in `layout.svelte` anymore, and an alternative like `+layout.js` is not working automatically because SvelteKit can call it after `+page.js`.
We can still use it if we will call directly  `await parent();` in each `+page.js` but looks like a hack, add extra boilerplate and reduce performance.

I suppose we should find a better place to init i18n and it shouldn't depend on

[2022-08-23 07:33] cibernox commented on #55
Interesting. I was going to migrate the documentation page to the new routing API.

tl;dr; the code should be run ASAP in the app's boot process, before any locale-dependent code runs.

[2022-08-23 08:37] stalkerg commented on #55
yep, I thought also about lazy singleton, but I still have only +layout.js to do it because I get user session with locale name from +layout.server.js (maybe it's possible in hook.js as before, but it's tricky)
https://github.com/sveltejs/kit/discussions/5883 here is more context about the session.

[2022-08-24 06:51] stalkerg commented on #55
@cibernox if you have time you can provide more context to https://github.com/sveltejs/kit/issues/6183

[2022-08-24 15:43] benmccann commented on #55
Just FYI, the order was not reversed, but the `load` functions now run in parallel by default - unless you call `await parent()` in which case it awaits the result of the parent `load` function.

[2022-08-24 15:48] cibernox commented on #55
@benmccann that makes more sense.

tl;dr; Is there in sveltekit an idiomatic place to put code that you want to run before any other code in the app? Setting up global configuration (such as the user's locale, which is often critical to render anything else on the page) is a good example.
In Ember (sorry, long time Ember developer here) there was the concept of initializers and instance-initialize

[2022-08-24 17:04] benmccann commented on #55
Not at the moment. Tracked in https://github.com/sveltejs/kit/issues/6183

[2022-09-03 00:53] EskelCz opened #56 "Not showing warning for empty string translation"
Thanks for this awesome library. :) Just a super simple question/request.
Does it make sense to throw a warning for `$t('')` that `''` was not found in the dictionary?
Because I don't think think translating an empty string to something else is very useful. :)

I like both my code and console as clean as possible and this forces me to add a lot of ugly checks for empty strings.
Thanks for your con

[2022-09-19 08:52] timonmasberg opened #58 "Documentation not reachable"
https://svelte-intl-precompile.com/ seems to be not working anymore :( 404

[2022-10-02 14:13] stalkerg commented on #55
@cibernox I found a much more worse issue - on the server side, t and locale shared between ALL requests, and we have race conditions during setup/set layout.

For the browser, it's working fine because we load `locale` individually for each browser and once, but on the server side, we shared such states between sessions.

[2022-10-11 07:53] OwsOwies commented on #39
I don't agree with your reasoning here. No one reported race-conditions on some different repository, how is that an argument.

Here is an official discussion on svelte kit where someone mentions data leaking:
https://github.com/sveltejs/kit/discussions/4339#discussioncomment-3258927
Still, it's anecdotal, just like you saying that you don't think anyone has reported race conditions. It might be p

[2022-10-11 16:47] AM-77 commented on #58
you can access it via https://svelte-intl-precompile.com/en/docs/configuration, but https://svelte-intl-precompile.com/  still broken!

[2022-11-01 01:17] usamamashkoor commented on #9
I am facing the same problem, can anyone let me know, How I can solve this issue?

[2022-11-11 20:08] cibernox commented on #58
It's reachable again!! Something happened in the last month in sveltekit that the issue is now fixed

[2022-11-11 20:08] #58 closed

[2022-11-11 20:10] cibernox commented on #56
I think it makes sense to show a warning for any attempt to translate a key that is not in the dictionary of known keys. At most I'd concede that for this case it could be a different warning. I'd expect that if someone tries to translate an empty string that's probably an unintender bug/typo.

[2022-11-11 20:10] #56 closed

[2022-11-11 20:12] cibernox commented on #55
I wish there was some wait of setting up a reproduction that allows to consistently reproduce this locally so it can be fixed.

[2022-11-14 19:23] mquandalle opened #59 "Watch mode / hot reload config"
Hi, thank you for this library!

By default the app isn't reloaded when the translation file is modified on dev mode, it would be great to document how to support this feature — or to support it directly in the vite plugin.

I'm using the latest version of Svelte Kit on Linux.

[2022-11-18 19:55] MordragT commented on #35
I am getting the same error, but as svelte kit does not expose vite configuration anymore, i added the plugin to vite.config.ts:

[code]

[2022-11-25 10:12] RickMeijer opened #60 "Cannot find module '$locales' or its corresponding type declarations"
When implementing svelte-intl-precompile with the latest sveltekit, I get the following error:

Doesn't matter if I use registerAll or individual register. I must be missing something obvious.
I found [this PR](https://github.com/cibernox/svelte-intl-precompile/pull/57), but it's not in 0.12 AFAIK.

vite.config.ts:
[code]

+layout.ts
[code]

Example repo here:
https://github.com/RickMeijer/svelte-